@charset "utf-8";
/* CSS Document */
body{margin:0px; font-family:"微软雅黑";  padding:0px;}
input,textarea,select,option{font-family:"微软雅黑";}
div{text-align:left;}
a{text-decoration:none;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
:focus {OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px;}
ul{margin:0px; padding:0px;}
li{margin:0px; padding:0px; list-style:none;}
a{text-decoration:none;}
img{border:0px;}
h1{margin:0px; padding:0px;}
h2{margin:0px; padding:0px;}
h3,h4{margin:0px; padding:0px;}
h5{padding:0px; margin:0px;}
object,embed,a,input{bblr:expression_r(this.onFocus=this.blur());outline:none;}
p{margin:0px; padding:0px;}
/*原子类*/
.last{margin-right:0px!important;}
/*返回顶部*/
.back{
	position:fixed;
	right:10%;
	bottom:5%;
	width:58px;
	height:58px;
	border-radius:3px;
}

/*个人中心*/
.hl_user_center{width:1200px; height:auto; overflow:hidden; overflow:hidden; margin:0px auto; padding-bottom:100px;}
.hl_user_center_L {width:180px; border:1px solid #e6e6e6; padding-bottom:15px;}
.hl_user_center_L h5{font-weight:normal; font-size:16px; color:#fff; background:#e83323; height:40px; line-height:40px; text-align:center;}
.hl_bianji{height:160px; background:#f2f2f2;  text-align:center; margin-bottom:7px;}
.hl_bianji a img{display:block; margin:0px auto; padding-top:20px;}
.hl_bianji a{display:block; position:relative; font-size:12px; color:#fff;;}
.hl_bianji a span{display:block; position:relative; font-size:12px; color:#fff; position:absolute; top:85px; left:50%; margin-left:-12px;}
.hl_bianji p{font-size:14px; color:#666; padding-top:15px;}
.HL_user_nav a{display:block; height:42px; line-height:42px; font-size:14px; color:#333; text-align:center;}
.HL_user_nav a.current{background:#ffe8e5; color:#e83323; border-left:4px solid #e83323;}
.HL_user_nav a:hover{color:#e83323; }
.hl_user_center_R{width:990px;}
.HL_locail{height:40px; line-height:40px; font-size:16px; color:#e83323; margin-bottom:5px;}
.HL_locail_h5{height:30px; line-height:30px; background:#f2f2f2; text-indent:10px; font-size:14px; color:#333; margin-bottom:20px;}
.HL_locail_A{height:110px; margin-bottom:40px;}
.HL_locail_Al img{display:block; width:110px; height:110px; float:left; margin-right:15px;}
.HL_locail_Ar{float:left;}
.HL_locail_Ar h5{font-weight:normal; font-size:14px; color:#808080; height:35px; line-height:35px;margin-bottom:18px;}
.HL_locail_Ar span{display:block; width:95px; height:30px; position:relative; overflow:hidden; background:url(../images/HL_pic02.gif) 0px 2px repeat-x; border:1px solid #dedede; border-radius:10px; margin-bottom:14px; font-size:14px; color:#666; line-height:28px; text-align:center;}
.HL_locail_Ar span .HL_file{width:500px; height:200px; position:absolute; top:0px; left:0px; cursor:pointer; background:url(../images/HL_kong.png) repeat; border:0px; opacity:0; filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity: 0; font-size:14px; color:#262626;}
/*表单代码*/
yradio{display:inline-block; width:15px; height:15px; background:#fff; border-radius:15px; border:3px solid #333; cursor:pointer;}
yradio.checked{background:#f00; width:15px; height:15px; border-radius:15px; border:3px solid #333;}
yradio input{display:none;}
ycheckbox{display:inline-block; width:15px; height:15px; background:#fff; border:3px solid #333; cursor:pointer;}
ycheckbox.checked{background:#ff0;}
ycheckbox input{display:none;}
yselect{display:inline-block; width:150px; height:24px; background:#f9f9f9; border:3px solid #333; cursor:pointer; border:1px solid #666; position:relative;}
yval{display:block; height:100%; padding-left:10px; height:24px;}
yselp{display:block; position:absolute; width:100%;border-top:0px; top:100%; left:0px;}
yoption{display:block; height:30px; line-height:30px; padding-left:10px; background:#eee; clear:both; font-size:15px;}
yoption:hover{background:#e83323;}
yselect select{position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:10; display:none;}
yselect.mobile select{display:block;opacity:0; filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity:0;}
.HL_locail_Ar p{font-size:12px; color:#262626;}
.HL_user_tab{width:100%; font-size:12px; color:#333;}
.HL_user_tab tr td{padding-bottom:20px;}
.HL_user_tab tr .td01{width:55px; padding-right:7px; text-align:right;}
.HL_user_tab tr .td02 .txt{width:152px; height:23px; border:1px solid #ccc; font-size:12px; color:#ccc; padding-left:10px;}
.HL_user_tab tr .td02 yradio{width:12px; height:12px; border-radius:0px; border:0px; background:url(../images/HL_pic03.gif) no-repeat; margin-right:3px;}
.HL_user_tab tr .td02 yradio.checked{background:url(../images/HL_pic03hover.gif) no-repeat;}
.HL_user_tab tr .td02 label{margin-right:14px;}
.HL_user_tab tr .td02 yselect{width:73px; font-size:12px; color:#9a9a9a;  height:25px; line-height:25px; background:url(../images/HL_pic04.gif) no-repeat; border:0px;}
.HL_user_tab tr .td02 span{ width:32px; display:inline-block; text-align:center;}
.HL_user_tab .trlast .td01 .btn{width:85px; height:30px; border:0px; background:#116fb8; font-size:12px; color:#fff; cursor:pointer;  margin-top:20px;}
.HL_user_tab .trlast .td01{text-align:left;}
.HL_user_jifen{height:65px; font-size:14px; color:#4c4c4c; padding:15px 0px; background:#ffe8e5; border-radius:50px 0px 0px 50px; line-height:65px; margin-bottom:23px;}
.HL_user_jifen span{line-height:20px; float:left; text-align:center; margin-top:22px; text-indent:0px; margin-right:20px;}
.HL_user_jifen_l{width:180px; border-right:1px solid #f8b1aa; padding-left:35px;}
.HL_user_jifen b{font-size:38px; color:#116fb8;}
.HL_user_jifen_r{width:730px; padding-left:40px;}
.HL_table_B{width:100%; font-size:12px; color:#777; border:1px solid #dedede; border-bottom:0px; border-right:0px; border-top:0px;}
.HL_table_B tr td{height:37px; border-bottom:1px solid #dedede; text-align:center; border-right:1px solid #dedede;}
.HL_table_B tr .td01{width:252px;}
.HL_table_B tr .td02{width:236px; color:#d7192e;}
.HL_table_B tr .td03{width:252px;}
.HL_table_B tr .td02 span{color:#71b247;}
.HL_table_B .tr01 td{height:30px; background:#f2f2f2;}
.HL_table_B .tr01 .td02{color:#777;}
.HL_fanye{text-align:center; height:32px; line-height:32px; margin:70px auto;}
.HL_fanye a{display:inline-block; width:30px; height:30px; border:1px solid #e6e6e6; margin:0px 4px; font-size:12px; color:#333; text-align:center;}
.HL_fanye a.pre{background:url(../images/HL_pic05.gif) no-repeat; color:#fff; text-align:left;}
.HL_fanye a.next{background:url(../images/HL_pic06.gif) no-repeat; color:#fff; text-align:left;}
.HL_fanye a.current{background:#e83323; color:#fff; border:1px solid #e83323;}
.HL_fanye a.current:hover{background:#e83323; color:#fff; border:1px solid #e83323;}
.HL_fanye a:hover{border:1px solid #e83323; color:#e83323;}
.HL_fanye a.next:hover{background:url(../images/HL_pic06.gif) no-repeat; color:#fff; text-align:left; border:1px solid e6e6e6;}
.HL_fanye a.pre:hover{background:url(../images/HL_pic05.gif) no-repeat; color:#fff; text-align:left; border:1px solid #e6e6e6;}
.HL_user_tabSS{width:100%; font-size:12px; color:#333;}
.HL_user_tabSS tr .td01{width:135px; padding-right:5px; text-align:right;}
.HL_user_tabSS tr td{padding-bottom:20px;}
.HL_user_tabSS tr td input{width:152px; height:23px; padding-left:10px; border:1px solid #ccc; font-size:14px;}
.HL_user_tabSS tr td .icode{margin-left:10px;}
.HL_user_tabSS tr td .icode img{width:60px; height:25px; margin-bottom:-7px; margin-right:10px;}
.HL_user_tabSS tr td .icode a{color:#005ea7; margin-left:3px;}
.HL_user_tabSS tr td .B{width:85px; height:30px; font-size:12px; color:#fff; background:#116fb8; cursor:pointer; margin-top:30px;}
.HL_user_tab_sc{width:100%; font-size:12px;}
.HL_user_tab_sc tr td{width:230px; height:230px; padding-bottom:20px;}
.HL_user_tab_sc .top{border:1px solid #dedede; height:134px; position:relative; text-align:center;}
.HL_user_tab_sc .top img{display:block; width:180px; height:60px; margin-bottom:18px; margin:0px auto; margin-top:27px;}
.HL_user_tab_sc .top a{font-size:14px; color:#333;}
.HL_user_tab_sc .top input{position:absolute; top:12px; left:5px;}
.HL_user_tab_sc .boot{background:#f7f7f7; height:95px; padding-left:10px;}
.HL_user_tab_sc .boot p{font-weight:normal; font-size:12px; color:#808080; height:43px; line-height:40px;}
.HL_user_tab_sc .boot .go{display:inline-block; width:100px; height:30px; text-align:center; line-height:30px; text-align:center; background:#116fb8; font-size:12px; color:#fff;}
.HL_user_tab_sc .boot .pu{display:inline-block; width:100px; height:30px; text-align:center; line-height:30px; text-align:center;  font-size:12px; color:#116fb8; margin-left:15px;}
.HL_all_checked{height:30px; line-height:30px; background:#f2f2f2; margin-bottom:20px;}
.HL_all_checked input{margin:0px 12px;}
.HL_all_checked a{color:#116fb8; margin-left:20px;}
.HL_locail i{color:#333; font-style:normal; font-size:12px; margin-left:5px;}
.HL_tab_pub{width:100%; font-size:12px; color:#333;}
.HL_tab_pub tr .td01{width:65px; padding-right:20px; text-align:right;}
.HL_tab_pub tr .td01 font{font-style:normal; color:#e83323; margin-right:5px;}
.HL_tab_pub tr td yradio{background:url(../images/HL_pic03.gif) no-repeat; width:12px; position:relative; top:2px; height:12px; border:0px; border-radius:0px; cursor:pointer; margin-right:8px;}
.HL_tab_pub tr td yradio.checked{background:url(../images/HL_pic03hover.gif) no-repeat;}
.HL_tab_pub tr td{padding-bottom:20px;}
.HL_tab_pub tr td .txt{width:360px; height:23px; border:1px solid #ccc; padding-left:10px;}
.HL_tab_pub tr td yselect{width:73px; height:25px; line-height:25px; background:url(../images/HL_pic04.gif) no-repeat; border:0px; font-size:12px; color:#9a9a9a; margin-right:10px;}
.HL_tab_pub tr td .txtA{width:195px;}
.HL_tab_pub tr td .txtB{width:145px;}
.HL_tab_pub tr td .select{width:112px; background:url(../images/HL_pic08.gif) no-repeat;}
.HL_tab_pub tr td .txtC{width:45px; margin-right:10px;}
.HL_tab_pub tr td .selectA{width:112px; background:url(../images/HL_pic09.gif) no-repeat;}
.HL_tab_pub tr td .txtF{width:45px; margin-right:10px;}
.HL_tab_pub tr td .IN img{display:block;}
.HL_tab_pub tr td .IN{border:1px solid #ccc; width:530px;}
.HL_tab_pub tr td .IN textarea{height:235px; width:526px; resize:none; border:0px;}
.HL_tab_pub tr td .btn{width:85px; height:30px; background:#116fb8 ; border:0px; font-size:12px; color:#fff; cursor:pointer; margin-top:20px;}
.HL_user_tabSS tr td .B{border:0px;}
.HL_tab_Mypub{width:100%; font-size:12px; color:#333; border-top:1px solid #e83323;}
.HL_tab_Mypub tr .td01{width:100px;}
.HL_tab_Mypub tr .td02{width:830px;}
.HL_tab_Mypub tr .td03{text-align:center; color:#e83323;}
.HL_tab_Mypub tr td{height:37px; border-bottom:1px solid #ccc;font-size: 13px;}
.HL_tab_Mypub tr .td01 input{margin-left:15px;}
.HL_tab_Mypub .trcolor td{background:#f7f7f7;}
.HL_tab_Mypub tr .td03 span{text-align:center; color:#116fb8;}
.HL_tab_Mypub .thead td{height:30px; background:#ffe8e5; color:#333;}
.HL_tab_Mypub .thead .td02{text-indent:115px;}
.hl_ALL_CHICE{padding:20px 0px; clear:both; font-size:12px; color:#666; height:30px;}
.hl_ALL_CHICE input{margin-left:15px; margin-right:20px;}
.hl_ALL_CHICE span a{color:#116fb8; margin-left:20px;}
.hl_ALL_CHICE span{float:left;font-size: 13px;}
.HL_fanye_R{float:right; margin:0px;}
.uniqe{padding-top:10px;}
.uniqe a{display:block; height:25px; line-height:25px; font-size:13px; text-align:left; text-indent:75px;}
.uniqe a.currentLITT{color:#e83323;}
.HL_tab_pub tr td .selectT{width:157px; background:url(../images/HL_pic11.gif) no-repeat;}
.HL_tab_pub tr td i{display:inline-block; width:95px; height:30px; background:url(../images/HL_pic02.gif) 0px 2px repeat-x; border-radius:5px; font-style:normal; text-align:center; line-height:28px; font-size:14px; color:#666; border:1px solid #ccc; margin-bottom:10px; position:relative; overflow:hidden;}
.HL_tab_pub tr td i .fileR{position:absolute; top:0px; left:0px; width:500px; height:200px; background:url(../images/HL_kong.png) repeat; cursor:pointer; border:0px;  opacity:0; filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity: 0;}
.hl_user_onload{width:980px; height:125px; margin:0px auto;}
.HL_logo{margin-top:40px; margin-right:35px;}
.hl_user_onload span{font-size:28px; color:#4c4c4c; padding-top:55px; display:inline-block;}
.hl_user_onload_A{width:100%; height:450px; background:url(../images/HL_pic13.gif) center no-repeat; padding-top:65px;}
.hl_user_onload_Awrap{width:358px; height:356px; margin:0px auto;background:#f0f9f9; padding:10px 20px; box-shadow:5px 5px 5px #54a3a0;}
.hl_user_onload_Awraph1{height:47px; line-height:47px; font-weight:normal;}
.hl_user_onload_Awraph1 span{font-size:22px; color:#4c4c4c; float:left;}
.hl_user_onload_Awraph1 a{font-size:22px; color:#e83323; float:right; font-size:16px;}
.HL_nocite{height:23px; border:1px solid #ffd942; line-height:23px; font-size:12px; color:#666; background:#fff6d2; margin-bottom:10px;}
.HL_nocite img{margin-left:15px; margin-right:10px;}
.HL_single{height:20px; line-height:20px; padding:10px 0px; border:1px solid #ccc; background:#fff; position:relative; margin-bottom:20px;}
.HL_single img{margin:auto 12px; float:left;}
.HL_single input{width:307px; padding-left:12px; float:left; position:absolute; top:10px; right:0px; height:20px; border:0px;}
.HL_singleAS{height:55px; line-height:55px; font-size:12px; color:#4c4c4c;}
.HL_singleAS a{float:right; color:#4c4c4c;}
.HL_singleAS input{position:relative; top:2px; margin-right:6px;}
.HL_singleAB input{height:40px; background:#e83323; border:0px; font-size:18px; color:#fff; width:100%; cursor:pointer;}
.HL_singleAu{height:25px; border-bottom:1px solid #ccc; line-height:40px; font-size:12px; color:#666; text-align:center; position:relative;}
.HL_singleAu span{display:inline-block; position:relative; top:5px; background:#f0f9f9; padding:0px 10px;}
.HL_share{text-align:center; position:relative; top:20px;}
.HL_share a{margin:0px 9px;margin-top:20px; }
.HL_single input{border-left:1px solid #ccc;}
.HL_register{width:605px; height:460px; margin:0px auto; box-shadow:box-shadow:5px 5px 5px #54a3a0; background:#f0f9f9; padding:0px 30px;}
.hl_user_onload_Awraph1 p{float:right;}
.hl_user_onload_Awraph2{border-bottom:1px solid #dedede; margin-bottom:20px;}
.hl_user_onload_Awraph2 p{font-size:12px; color:#4c4c4c;}
.hl_user_onload_Awraph2 p a{color:#0873bf; font-size:12px; margin-left:3px;}
.HL_reg_tab{width:100%; font-size:14px; color:#666;}
.HL_reg_tab tr .td01{width:190px; padding-right:10px; text-align:right;}
.HL_reg_tab tr td input{height:38px; width:266px; border:1px solid #ccc; font-size:12px; color:#333;}
.HL_reg_tab tr td .yz{margin-left:5px;}
.HL_reg_tab tr td .yz img{margin-bottom:-2px;}
.HL_reg_tab tr td{padding-bottom:20px;}
.HL_reg_tab tr td input.B{width:136px;}
.HL_reg_tab tr td input.getyz{width:118px; height:40px; border:1px solid #ccc; background:#f2f2f2; font-size:14px; color:#666; margin-left:10px; cursor:pointer;}
.HL_reg_tab tr td input.box{width:12px; height:12px; float:left; position:relative; top:-1px;}
.HL_reg_tab tr td a{color:#0873bf;}
.HL_reg_tab tr td p{font-size:12px; float:left;}
.xieyi{overflow:hidden; padding:10px 0px;}
.HL_reg_tab .trB td{padding-bottom:30px;}
.HL_reg_tab tr td input.But{cursor:pointer; background:#e83323; font-size:18px; color:#fff; border:0px;}
.hl_user_onload_K{background:url(../images/HL_pic22.gif) center no-repeat; height:569px; padding-top:90px;}
.hl_user_find{height:495px; background:url(../images/HL_pic23.gif) center no-repeat; padding-top:25px;}
.hl_user_findwrap{width:930px; background:#fff; margin:0px auto; padding:0px 25px;}
.buzou_HL{display:block; margin:0px auto; margin-bottom:35px;}
.hl_user_onload_Awraph3{border-bottom:1px solid #ccc; margin-bottom:0px;}
.hl_user_findwrap{overflow:hidden;}
.HL_tab_find{padding-left:303px; font-size:12px; color:#666;}
.HL_tab_find tr td{padding-bottom:10px;}
.HL_tab_find tr .td01{width:118px; padding-right:10px; text-align:right;}
.HL_tab_find tr td input{width:199px; height:28px; border:1px solid #ccc;}
.HL_tab_find tr td yselect{width:202px; height:31px; border:0px; background:url(../images/HL_pic25.gif) no-repeat; line-height:31px; text-indent:20px; font-size:12px; color:#333;}
.HL_tab_find tr td input.pihone{width:109px;}
.HL_tab_find tr td input.getIPH{width:80px; height:30px; cursor:pointer; font-size:12px; color:#fff; background:#e83323; border:0px; margin-left:10px;}
.HL_tab_find tr td p{font-size:12px; color:#666; margin-top:15px; margin-bottom:15px;} 
.HL_tab_find tr td input.tijiao{width:315px; background:#e83323; border:0px; font-size:16px; height:40px; cursor:pointer; color:#fff; margin-left:-115px; margin-bottom:55px;}
.HL_tab_find tr td p b{color:#d7192e;}
.key{position:relative; width:200px; height:32px;}
.key img{position: absolute; right:-40px; top:5px;}
.HL_tab_find tr td p.pihoneA span{display:inline-block; width:100px; height:6px; background:#e6e6e6; border-radius:10px; position:relative; margin-left:10px;}
.HL_tab_find tr td p.pihoneA span i{position:absolute; top:0px; left:0px; background:#f99200; border-radius:10px; width:50%; display:inline-block; height:6px;}
.HL_tab_find tr td p.pihoneA{margin:10px 0px;}
.HL_tab_findAS tr .td01{width:63px;}
.HL_tab_findAS tr td input{width:245px;}
.HL_tab_findAS tr td input.tijiao{margin-left:-70px;}
.HL_news_cg{width:333px; overflow:hidden; margin:0px auto; margin-bottom:200px;}
.HL_news_cg img{float:left; display:block; margin-right:20px;}
.HL_news_cg p b{display:block; font-size:24px; color:#333;}
.HL_news_cg p span{font-size:14px; color:#999; margin-top:10px; display:inline-block;}
.HL_news_cg p a{color:#0873bf; margin-left:10px;}
.HL_news_cg p{float:left;}
.HL_user_tab_sc tr td{padding-right:20px;}
.HL_user_tab_sc tr .td04{padding-right:0px;}
.HL_culcture{overflow:hidden;}
.HL_about_rNav{max-width:100%;}
.HL_culctureA a{width:216px;}
.lvyouNavR{width:150px; position:fixed; top:35%; left:50%; margin-left:633px; border-left:1px dashed #ddd;}
.lvyouNavR a{display:block; line-height:24px; line-height:24px; font-size:14px; color:#333; margin-bottom:25px; padding-left:14px; position:relative; top:-9px;}
.lvyouNavR a i{display:block; width:9px; height:9px; border-radius:9px; background:#ddd; position:absolute; left:-5px; top:8px;}
.lvyouNavR a.last{margin-bottom:-20px;}
.lvyouNavR a:hover{color:#e83323;}
.lvyouNavR a.crrtrnte{color:#e83323;}
.lvyouNavR a.crrtrnte i{background:#e83323;}
.HL_city_r{min-height:300px;}
.HL_city_rbodr{background:#f7f7f7; padding:0px 20px; border-top:2px solid #4d4d4d; padding-bottom:25px;}
.HL_city_rbodrH{height:38px; line-height:38px; clear:both; overflow:hidden;}
.HL_city_rbodrH b{font-size:16px; color:#e83323; float:left;}
.HL_city_rbodrH a{font-size:14px; color:#808080; float:right;}
.HL_city_rbodrH a img{margin-bottom:-2px; margin-left:6px;}
.HL_city_rbodrH a:hover{text-decoration:underline;}
.HL_city_rbodrLIA{height:135px;; overflow:hidden;}
.HL_city_rbodrLIA b{display:block; height:34px; line-height:34px; color:#14px; color:#333; font-weight:normal; margin-bottom:5px;}
.HL_city_rbodrLIA b a{color:#333; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.HL_city_rbodrLIA img{width:110px; height:84px; float:left;}
.HL_city_rbodrLIA p{margin:0px; padding:0px; width:135px; height:90px; float:right; font-size:12px; color:#808080; line-height:21px;}
.HL_city_rbodrLIA p a{color:#12px; color:#333;}
.HL_city_rbodrLIA p a:hover{text-decoration:underline;}
.HL_city_rbodrUl li{height:27px; line-height:27px; font-size:13px; color:#333;}
.HL_city_rbodrUl li a{display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#333; background:url(../images/HL_pic03.png) left center no-repeat; padding-left:17px;}
.HL_city_rbodrUl li a:hover{color:#e83323;}
.HL_city_rTuijian{overflow:hidden; padding-bottom:10px; overflow:hidden;}
.HL_city_rTuijian li{width:120px; height:125px; margin-bottom:5px; float:left; font-size:12px; line-height:20px; color:#333;}
.HL_city_rTuijian li img{display:block; width:120px; height:91px; margin-bottom:7px;}
.HL_city_rTuijian li a{color:#333; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.HL_city_rTuijian li a:hover{text-decoration:underline;}
.HL_city_rTuijianhr{width:315px; height:0px; border:0px; border-bottom:1px solid #dedede; margin:0px; margin-bottom:17px; margin-left:-20px;}
.HL_city_rguangtus{padding:27px 0px;}
.HL_city_rguangtus a{display:block; width:299px; height:225px; position:relative; overflow:hidden;}
.HL_city_rguangtus a img{width:299px; height:225px;}
.HL_city_rguangtus a span{ display:block; height:40px; padding-top:15px; line-height:40px; font-size:14px; color:#fff; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; position:absolute; left:0px; bottom:0px; width:100%;; background:url(../images/HL_pic04.png) repeat-x;}
































